.list-view .scroll-bar:vertical {
    -fx-background-color:#312f2f;
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:#606060;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}
.list-cell{
    -fx-background-color: #312f2f;
    -fx-text-fill: #84dccf;
    -fx-font-size: 15;
    -fx-border-color: #84dccf;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #84dccf;
    -fx-text-fill: #312f2f;
}